.epub-container {
    display: none !important;
}

#front-page-button,
#top {
    display: none;
}

#chapter {
    position: fixed;
    top: 5px;
    right: 5px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    display: none;
}